* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

.about-us {
    background-image: url('images/about-us.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
}
  